<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Exceptionless" version="4.3.2027" targetFramework="net48" />
  <package id="Exceptionless.Wpf" version="4.3.2027" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net4" />
</packages>