<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Installers\InstallMate\Source\4.5\InstallMate\packages.config" />
  <repository path="..\Installers\Shimmer\Client\Source\4.5\Client\packages.config" />
  <repository path="..\Internal\Accounting\Source\Account.Italian.Test\packages.config" />
  <repository path="..\Internal\Accounting\Source\Accounting.Italian.Istat.Test\packages.config" />
  <repository path="..\Internal\AutoMapper\Source\AutoMapper\packages.config" />
  <repository path="..\Internal\AutoMapper\Source\Test\packages.config" />
  <repository path="..\Internal\Core\Source\4.5\Core.Test\packages.config" />
  <repository path="..\Internal\Data\Source\Test\packages.config" />
  <repository path="..\Internal\Domain\Source\Domain.Test\packages.config" />
  <repository path="..\Internal\DynamicProxy\Source\DynamicProxy.Test\packages.config" />
  <repository path="..\Internal\DynamicProxy\Source\DynamicProxy\packages.config" />
  <repository path="..\Internal\EntityFramework.Providers\Source\CachingProvider\packages.config" />
  <repository path="..\Internal\EntityFramework\Demo\Domain\packages.config" />
  <repository path="..\Internal\EntityFramework\Demo\Mvc\packages.config" />
  <repository path="..\Internal\EntityFramework\Source\EntityFramework\packages.config" />
  <repository path="..\Internal\EntityFramework\Source\Test\packages.config" />
  <repository path="..\Internal\FluentValidation\Source\FluentValidation\packages.config" />
  <repository path="..\Internal\FluentValidation\Source\Test\packages.config" />
  <repository path="..\Internal\Nhibernate.Data\Source\Data\packages.config" />
  <repository path="..\Internal\Nhibernate.Data\Source\Test\packages.config" />
  <repository path="..\Internal\Raven\Source\Raven\packages.config" />
  <repository path="..\Internal\Raven\Source\Test\packages.config" />
  <repository path="..\Internal\ServiceLocator.Windsor\Source\Test\packages.config" />
  <repository path="..\Internal\ServiceLocator.Windsor\Source\WindsorAdapter\packages.config" />
  <repository path="..\Internal\ServiceLocator\Source\ServiceLocator\packages.config" />
  <repository path="..\Internal\ServiceLocator\Source\Test\packages.config" />
  <repository path="..\Internal\ServiceModel\Source\4.5\Test\packages.config" />
  <repository path="..\Internal\ServiceModel\Source\4.5\Web\packages.config" />
  <repository path="..\Internal\SharpTestsEx.Extensions\Source\Extensions\packages.config" />
  <repository path="..\Internal\SqLite\Source\Data\packages.config" />
  <repository path="..\Internal\SqLite\Source\SqLite\packages.config" />
  <repository path="..\Internal\Testing\Source\Test\packages.config" />
  <repository path="..\Internal\Testing\Source\Testing\packages.config" />
  <repository path="..\Internal\Transfer\Source\Service.Test\packages.config" />
  <repository path="..\Internal\Windows\Docs\Demo\Configuration\packages.config" />
  <repository path="..\Internal\Windows\Docs\Demo\ViewModels\packages.config" />
  <repository path="..\Internal\Windows\Docs\Demo\Wpf\packages.config" />
  <repository path="..\Internal\Windows\Docs\FiscalCode\Wpf\packages.config" />
  <repository path="..\Internal\Windows\Docs\Navigation\Windows.Startup\packages.config" />
  <repository path="..\Internal\Windows\Docs\Navigation\Windows\packages.config" />
  <repository path="..\Internal\Windows\Docs\Settings\Wpf\packages.config" />
  <repository path="..\Internal\Windows\Docs\Testing\ViewModels.Testing\packages.config" />
  <repository path="..\Internal\Windows\Source\4.0\Windows.Model.Test\packages.config" />
  <repository path="..\Internal\Windows\Source\4.0\Windows.Model\packages.config" />
  <repository path="..\ServiceStack\Text\Source\4.0\Text\packages.config" />
  <repository path="..\ServiceStack\Text\Source\4.5\Test\packages.config" />
  <repository path="..\ServiceStack\Text\Source\4.5\Text\packages.config" />
</repositories>