<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source propagateActivity="true" name="System.ServiceModel" switchValue="Information, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add initializeData="Traces.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="traceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<system.webServer>
		<modules>
			<add name="ApplicationStartModule" type="EyeSoft.ServiceModel.Hosting.Web.ApplicationStartHttpModule"/>
		</modules>
	</system.webServer>
</configuration>